$text-color: #D97F47;
$photos: 'https://visualhunt.com/photos/l/7/flower-bouquet-bunch-daisys.jpg',
'https://visualhunt.com/photos/l/7/flower-tropical-petal.jpg',
'https://visualhunt.com/photos/l/7/bloom-flower-petal.jpg',
'https://visualhunt.com/photos/l/7/petal-flora-flower.jpg',
'https://visualhunt.com/photos/l/7/botanical-flower-flora.jpg',
'https://visualhunt.com/photos/l/7/rose-flower-bloom.jpg',
'https://visualhunt.com/photos/l/7/coffee-flatlay-sunflower.jpg',
'https://visualhunt.com/photos/l/8/flower-petal.jpg';
$colors: (1:#91f917,
        2:orangered,
        3:yellow,
        4:green,
        5:brown,
        6:#397ef5,
        7: gray,
        8: #59c3ff);
$types: 5;
$type-width: 50px;
