.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: blue;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 3px 3px;
    z-index: 5;
    transition: 2s
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*header img {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
/*}*/

img {
    width: 200px;
    height: 150px;
    background: aliceblue;
    -webkit-transition: width 2s, height 2s;
    transition: width .5s, height .5s;
}

img:hover {
    width: 350px;
    height: 400px;
    background: orangered;
}

html, body {
    background: lightslategray
}

.memountain {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    opacity: 0.9;
    filter: alpha(opacity=50);
}

.memain {
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
    width: 250;
    height: 250px;
    opacity: 1.0;
    filter: drop-shadow(8px 8px 10px red);
    /*animation: spin 20s 1 linear;*/

}

.dropdownbox {
    border-radius: 20px;
    width: 100px;
    height: 25px;
    color: orangered;
    padding: 10px;
    border: solid orangered;
}

h1 {
    text-decoration: underline;
    color: blue;
    padding-top: 99px;
    display: flex;
    align-content: center;
    justify-content: center;
}
header div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

h3 {
    color: #f9f9f9;
}

h2 {
    color: #f9f9f9;
}

body h2, h3 {
    display: flex;
    justify-content: center;
    align-content: space-around;
}


body span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

ul {
    color: green;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: #dddddd;
    justify-content: space-around;
}

ul a {
    display: block;
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    color: orangered;
    width: 100%;
}

ul a:hover span {
    border-bottom: 10px solid wheat;
}

p {
    font-family: Calibri;
    color: #f9f9f9;
    font-size: 18px;
}

a {
    color: #f9f9f9;
    display: block;
    padding: 8px;
}

body {
    background-image: url("Pictures/mountainbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

section {
    width: 75%;
    margin: auto;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 20px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    transition: 2s;
    }

btn:hover {
    border-radius: 5px;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(-45deg);
    }
    25%{
        transform: translate(-500px, 0px);
    }

    30%{
        transform: rotate(45deg);
    }
    50%{
        transform: translate(500px, 0px);
    }
    70%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(360deg);
        height: 800px;
        width: 800px;

    }
}

