nav {
    background: #444;
    border-bottom: 10px solid #e63f18;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    top: 0px;
}

nav:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: whitesmoke;
    display: flex;
    align-content: center;
    justify-content: center;
}

nav ul {
    background: -moz-linear-gradient(center,
    #444 0%,
    #444 50%,
    #41d05f 100%);
    list-style: none;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 810px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

nav li {
    display: inline;
}

nav a {
    color: whitesmoke;
    display: block;
    float: center;
    font-family: "myriad-pro-1","myriad-pro-2", HelveticaNeue, Helvetica, Arial, Sans-Serif;
    font-size: 22px;
    padding: 6px 0px;
    text-decoration: none;
    text-align: center;
    width: 19%;
    }

nav a:hover {
    color: orangered;
    padding: 20px 16px;
    width: 100%;
    text-transform: lowercase;
}

nav .a-home {
    background: #ff8400;
    z-index: 100;
    position: relative;
}

nav .a-linked {
    background: #a800ff;
}

nav .a-git {
    background: #e42b2b;
}

nav .a-mountain {
    background: #49af73;
}

.home nav {
    background: #ff8400;
}

.a-linked nav {
    background: #a800ff;
}

.a-git nav {
    background: #e42b2b;
}

.a-mountain nav {
    background: #49af73;
}

nav li:hover a {
    width: 24%;
}
nav ul:hover .active {
    width: 19%;
}
nav ul:hover .active:hover {
    width: 24%;
}
nav li a.active {
    width: 24%;
}


h1 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}


section {
        border: solid 2px;
        margin: 3px;
        display: flex;
    }

    div {
        width: 100px;
        height: 100px;
        border: dashed 2px;
        margin: 10px;
    }

    .firstsection {
        justify-content: space-around;
        }

    .secondsection {
        justify-content: flex-end;
    }

    .thirdsection {
        flex: 1 1 auto;
    }

    .thirdsection div:nth-child(2){
        flex: 5 0 auto;
    }

    .fourthsection {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fifthsection {
        flex-wrap: wrap;
    }

    .fifthsection div:nth-child(1) {
        order: 15;
    }

    .sixthsection {
        align-content: center;
    }
    .sixthsection section:nth-child(1){
        flex-direction: column;
        flex-grow: 2;
    }

    .sixthsection section:nth-child(2){
        flex-direction: row;
        flex-grow: 3;
    }

    .sixthsection section:nth-child(2) div {
        justify-content: space-around;
        flex-grow: 1;
    }

    .sixthsection section:nth-child(3){
        flex-direction: row;
        flex-grow: 3;
        align-items: center;
    }

    .sixthsection section:nth-child(3) div:nth-child(1) {
        order: 2;

    }

    .seventhsection {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    section section {
        border: dashed 2px;
    }

